{deps, [
	grisp,
	{epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}}	
]}.

{erl_opts, [debug_info]}.

{grisp, [
    {otp, [
        {version, "22.0"}
    ]},
    {board, "grisp_base"},
    % {build, [
    %     {toolchain, [
    %         {directory, "/Users/laymer/GRiSP/grisp-software"}
    %     ]}
    % ]},    
    {deploy, [
        {pre_script, "rm -rf /Volumes/GRISP/*"},     
        % {pre_script, "rm -rf /Users/laymer/Dev/OTP22-0-4/okbeamer/GRISPDEPLOY/*"},     
        {destination, "/Volumes/GRISP"},
        % {destination, "/Users/laymer/Dev/OTP22-0-4/okbeamer/GRISPDEPLOY"}
        {post_script, "diskutil eject /Volumes/GRISP"}
    ]}
]}.

{shell, [
	{apps, [okbeamer]},
	{config , "./config/test.config"}
]}.

{relx, [
    {release, {okbeamer, "0.1.0"}, [
    	{epmd, none},
    	okbeamer,
    	inets,
    	runtime_tools
    ]},

    {sys_config , "./config/sys.config"}
]}.

{ profiles , [
    {test , [
        {deps , [
             grisp_emulation
        ]} ,
        {dev_mode , true}
    ]}
]}.